<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Destination</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <a href="/flights/new">Add Flights</a>
    <a href="/flights">All Flights</a>
    <a href="/destinations/new">Add Destinations</a>

</head>
<body>
    <h1>Add Destinations</h1>
    <form action="/destinations" method="POST">
        <label for="new-destination">New Destination</label>
        <input type="text" name="airport">
        <button type="submit">Add Destination</button>
    </form>
    <h1>Destination List</h1>
    
    <h2><% destinations.forEach(function(destination){ %></h2>
    <div><%= destination.airport %> 
        <form action="/destinations/<%= destination._id %>?_method=DELETE" method="POST"><button>DELETE</button></form>
    </div>

    <% }) %>  

</body>
</html>